
.link{
    color: white;
    text-decoration: none;

    &:hover{
        color: $orange;
        text-decoration: underline;
        transition: color .3s ease;
    }
}

.auth__link{
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}